Button {
  box-shadow: rgb(51, 51, 51) 0.1em 0.3em 0.5em 0;
  
}



#main-body {
  color: aliceblue;
  background-color: rgb(30, 30, 43);
  min-height: 100vh;
}


#delete-btn {
  background: radial-gradient(rgba(207, 43, 43, 0.39) 5%, red);
}

#home-btn { 
  margin-left: 1vw;
}