Button {
  box-shadow: rgb(51, 51, 51) 0.1em 0.3em 0.5em 0;
  font-size: 0.9em;
  max-height: 2.5em;
  text-align: center;
 
}

.btn { 
  font-size: 0.6em 
}


#main-body {
  color: aliceblue;
  background-color: rgb(30, 30, 43);
  min-height: 100vh;
}


#delete-btn {
  background: radial-gradient(rgba(245, 51, 51, 0.815) 5%, red);
}

#home-btn { 
  margin-left: 1vw;
}