#search-bar {
  color: black;
  background-color: rgb(174, 187, 199);
  max-width: 90vw;
  margin: 2vh 3vw;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

#search-btn { 
    margin:1vh 2vw;
    background: radial-gradient(rgba(30, 221, 30, 0.438) 7%, rgb(0, 161, 0) );
}

form {
    margin-bottom: 1vh;

}
