#create-bar {
  color: black;
  background-color: rgb(174, 187, 199);
  max-width: 90vw;
  margin: 2vh 3vw;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

#create-btn {
    margin: 1vh 1vw;
    background: radial-gradient(rgba(31, 229, 255, 0.726) 10%, rgb(0, 172, 252));
}
