label { 
  margin: 0.5vh .3vw;
}

#update-form { 
  color: black;
  background-color: rgb(174, 187, 199);
  max-width: 30vw;
  margin: 2vh 3vw 2vh 30vw;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}